/* Variables */ 
// Colors
$heading-color: #1F2C38; 
$body-color: #485866;  
$primary-color: #4353FF;    
 

$white: #ffffff; 
$black: #000000; 
$body-font: 'Work Sans', sans-serif;

//  transition
$transition: all ease 0.3s;


$body-color-2: #848894;  
$primary-color-2: #055C2D; 
$primary-color-3: #5AC4FF;  