/* ===== 02 Buttons Css ===== */
.button-1 {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    padding: 14px 32px 14px; 
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    background: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
    transition: 0.3s; 
    box-shadow: 0px 8px 16px rgba(140, 80, 255, 0.24);
    border-radius: 50px;
    text-transform: uppercase;

    &:hover {
        color: $primary-color;
        background: transparent;
        border: 1px solid $primary-color;
        box-shadow: 0px 8px 16px rgba(140, 80, 255, 0);
    }
}

.button-2 {
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    padding: 14px 32px 14px; 
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    background: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: 0.3s; 
    box-shadow: 0px 0px 0px rgba(0, 114, 221, 0);
    border-radius: 50px;
    text-transform: uppercase;

    &:hover { 
        background: transparent;
        border: 1px solid $primary-color;
        box-shadow: 0px 8px 16px rgba(140, 80, 255, 0.24);
        background: $primary-color;
        color: $white; 
    }
}
 